body {
  font-family: "Open Sans", sans-serif;
  background-image: url('/src/shared/coconut.jpg');
  background-position: center;
  background-size: cover; 
  opacity: 1;
}

h1, h2, h3, .card-body>.card-title {
  font-family: "Lobster", "Paprika", 'Indie Flower', cursive;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: teal;
}

h2 {
  color: teal;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(lightyellow, lightgreen);
  padding: 20px 0;
}

.jumbotron {
  margin: 0px;
  padding: 30px;
  background-image: linear-gradient(to bottom, green, lightgreen, rgb(247, 247, 119));
  color: white;
}

.jumbotron h2 {
  color: rgb(63, 62, 62);
}

.navbar-light {
  background-color: rgb(247, 247, 119);
}

.featured {
  color: darkgreen;
  text-align: center;
}

.cardText {
  text-align: center;
}